:root {

  --skills1: 100%;
  --skills2: 50%;
  --skills3: 80%;
  --skills4: 50%;
}

body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
  }
  
img {
    width: 300px;
    height: 250px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .header::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url('/img/header_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
  }
  
  .header:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
  
  .header:hover .header-content {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  
  .header-content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
  }
  
  .header-content .logo {
    height: 100px;
    width: 100px;
  }
  
  .title {
    font-family: 'Oswald', sans-serif;
    font-size: 2.4rem;
  }
  
  .header-content .text {
    line-height: 1.7;
    margin-top: 1rem;
  }
  
  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
  }

  .container_skills {
    width: 100%;
  }
  
  .grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 30px 30px 30px or repeat(3, 1fr)*/
    grid-gap: 20px;
  }
  
  .grid-2 {
    display: grid;
    grid-grap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-6 {
    padding: 0;
  }

  .padre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
  }
  
  .skills {
    width: 500px;
  }

  .porcentaje {
    display: flex;
    justify-content: space-between;
  }
  
  .text-center {
    text-align: center;
    margin: auto;
  }
  
  .bg-light {
    background: #fff;
    color: #333;
  }
  
  .bg-dark {
    background: #2f3542;
    color: #f4f4f4;
  }
  
  .services {
    width: 100%;
    padding: 2rem 0;
  }

  .titulo {
    /* margin: 0px 20px; */
  }

  .servicesTwo {
    display: flex;
    background-color: crimson;
    padding: 2rem 0;
    height: 350px;
  }

  .grafico {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 60px;
  }

  .detras {
    width: 100%;
    background-color: white;
    height: 5px;
    border-radius: 10px;
  }
  
  .level {
    width: var(--skills1);
    background-color: black;
    height: 5px;
    border-radius: 40px;
  }
  
  .level2 {
    width: var(--skills2);
    border-radius: 10px;
    background-color: black;
    height: 5px;
    border-radius: 40px;
  }
  
  .level3 {
    width: var(--skills3);
    background-color: black;
    height: 5px;
    border-radius: 40px;
  }

  .level4 {
    width: var(--skills4);
    background-color: black;
    height: 5px;
    border-radius: 40px;
  }

  /* .html {
    height: 60px;
    border: 1px solid yellow;
  }

  .java {
    height: 60px;
    border: 4px solid green;
  }

  .css {
    height: 60px;
    border: 1px solid blue;
  } */

  footer {
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contactame {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  footer p {
    margin: 0;
  }

  .insta {
    object-fit: cover;
  }

  .tuit {
    object-fit: cover;
  }

  .contactame i {
    margin:  0px 10px;
  }
  
  /* RESPONSIVE */
  @media (max-width: 560px) {
    .header::after {
      height: 50vh;
    }
    
    .header-content {
      top: 5%;
      margin-top: 5px;
    }
  
    .header-content .logo {
      height: 140px;
      width: 140px;
    }
  
    .header-content .text {
      display: none;
    }
    
    .grid-3, .grid-2 {
      grid-template-columns: 1fr;
    }
  
    .services div {
      padding: 1.4rem 1rem;
    }
  }
  
  /* Landscape */
  @media(max-height: 500px) {
    .header-content .title, .header-content .text {
      display: none;
    }
    .header-content {
      top: 0;
    }
  }